@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
	--sidebar-ribbon-size: 0.5rem;
}

@tailwind base;
@layer base {
	html {
		@apply scroll-smooth;
		scrollbar-color: theme(colors.accent-red) theme(colors.gray.800);
	}

	body {
		@apply text-sm lg:text-base h-screen tracking-wide leading-tight bg-gray-800 text-gray-100;
		tab-size: 4;
	}

	main {
		@apply min-h-full overflow-x-hidden;
	}

	h1 {
		@apply text-xl md:text-2xl font-bold;
	}

	h2 {
		@apply text-lg md:text-xl font-bold;
	}

	h3 {
		@apply text-base md:text-lg font-bold;
	}

	ol {
		@apply list-decimal ml-10; /* It is very rare to have an ordered list without the markers */
	}

	b {
		@apply text-accent-red
	}

	a {
		@apply text-accent-blue transition-colors duration-400 ease-out
			hofoac:text-gray-100 hofonoac:duration-200 active:duration-0;
	}

	hr {
		@apply h-[2px] w-8/12 my-10 mx-auto bg-gray-500 border-0;
	}

	input:is([type="text"], [type="search"]) {
		@apply px-[2px] py-[1px] bg-gray-800 text-gray-100
			border-2 outline-none border-accent-red focus-visible:border-accent-blue
			placeholder:italic placeholder:text-gray-300
	}

	img {
		@apply
			max-w-full /* Never overflow horizontally */
			h-auto /* Maintain aspect ratio */
			object-contain /* Don't stretch */

			/* Center any alt text */
			text-sm text-gray-200 grid place-content-center text-center
	}

	/* Figures. https://gist.github.com/MoritzBuetzer/4c89d9da1e15745cf2b0 */
	figure {
		@apply table mb-3;
	}

	figure figcaption {
		@apply table-caption caption-bottom mt-2 text-xs text-center text-gray-300 ;
	}

	/* Code */
	code {
		@apply font-mono whitespace-pre-wrap py-0.5 px-1 rounded-sm text-gray-200 bg-gray-900;
	}

	pre > code {
		@apply block py-1 px-2 whitespace-pre overflow-x-auto;
	}

	pre.has-code /* pre:has(> code) */ {
		@apply my-1 bg-gray-900 rounded overflow-x-auto;
	}

	/* Button */
	button {
		@apply p-1 rounded;
	}

	summary {
		cursor: pointer;
	}
}

@tailwind components;
@layer components {
	.hofoac-highlight {
		@apply transition-[filter] duration-400 ease-out
			hofonoac:brightness-125 hofonoac:duration-200
			active:brightness-150 active:duration-0;
	}

	.h1-splash {
		@apply text-gray-400 text-xs mb-h1;
	}

	/* Article pages; I figure these are used often enough */
	.padded-main {
		@apply p-7 lg:pt-10 lg:px-16 lg:pb-14;
	}

	.article-main {
		@apply padded-main mx-auto max-w-5xl;
	}

	.article-main :where(h1) {
		@apply mb-h1;
	}

	.article-main :where(p, h2, h3) {
		@apply leading-normal mb-6;
	}

	/* Inline lists */
	.inline-list > li {
		@apply inline
	}

	.inline-list > li:not(:first-child)::before {
		@apply inline content-["|_"] mx-2
	}

	/*
		Container for externally-loaded content (such as stories) which mainly
		just provides more sensible defaults, such as list markers.
	*/
	.container-for-external ul {
		@apply list-disc ml-10;
	}
}

@tailwind utilities;
@layer utilities {
	.text-inherit-color {
		color: inherit;
	}

	.mb-h1 {
		@apply mb-5 md:mb-10;
	}

	/* Needed for SVG transitions; see https://stackoverflow.com/a/68570975 */
	.fill-opacity-0 {
		fill-opacity: 0;
	}

	.fill-opacity-100 {
		fill-opacity: 1;
	}
}
