<!DOCTYPE html>
<html lang="en" dir="ltr"><head>
	<title>Fragments</title>
	<link rel="icon" type="image/svg" href="/assets/images/icon.svg">
	<meta name="description" content="Twinkling like the forgotten stars of the Abyss.">
	<meta name="theme-color" content="#ff3232">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<link rel="stylesheet" href="/assets/styles/normalize.css">
	<link rel="stylesheet" href="/assets/styles/style.css">

	<script src="/assets/scripts/insert.js" defer></script>
	<script src="/assets/scripts/search.js" async></script>
	<script src="/assets/scripts/sidebar-touch-disable.js" async></script>
	<script src="/assets/scripts/cheating.js" defer></script>
	<script src="fragments.js" defer></script>
</head>


<body>
	<div id="cheating-insert"></div>
	<div id="sidebar-insert"></div>

	<main class="full-width-main">
		<h1 class="splashed-heading" title="Not to be confused with Echoes — those don't exist in this reality.">Fragments</h1>
		<div title="Better get searching.">The best things have to be found.</div>

		<div id="fragments-canvas" data-unsearchable>
			<div id="dummy-fragment"></div>
			<div>Fragments, twinkling like forgotten stars of the Abyss.</div>
			<div>The waking edge, where reality bleeds and dreams die.</div>
			<div>… demand to be put into hypnagogia immediately and indefinitely.</div>
			<div>All fear the Tearing, all run from the Tearing, for-</div>
			<div>Kept in line by the bloodied edge of failure.</div>
			<div>Walking with the dead makes you feel alive.</div>
			<div>Where was the part where [I] grew up?</div>
			<div>Is that the future so bright or the radiation sickness?</div>
			<div>The fire's brighter than all of our futures, somehow.</div>
			<div>Eat the devil or there's nothing you can do.</div>
			<div>[We] should be growing up, but instead [We]'re growing old.</div>
			<div>!</div>
			<div>Mayday. Mayday. Out.</div>
			<div><em>Click.</em></div>
		</div>
	</main>
</body>
</html>