:root {
	--main-text-color: #d4d4d4;
	--dull-text-color: #8e908c;
	--main-background-color: #1e1e1e;
	--lighter-background-color: #252526;
	--accent-color-1: #ff3232; /* Red for titles, highlights, sidebar, etc. */
	--accent-color-2: #00aaff; /* Blue for links, etc */

	--main-font: "Consolas", sans-serif;
	--monospace-font: "Consolas", monospace;

	--sidebar-ribbon-size: 1.5rem;
}

/* 
	z-indexes:

	0   - 99 : Main content
	100 - 199: Front stuff like footer, sidebar, darkeners, overlays, etc


	Currently used indexes:
	110 - Footer
	125 - Sidebar darkener
	150 - Sidebar
*/



/* Page */
html {
	scroll-behavior: smooth;
}



/* Body and main */
body {
	font-family: var(--main-font);
	font-size: 1.15em;

	background-color: var(--main-background-color);
	color: var(--main-text-color);

	/* These three keep the footer in place */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	box-sizing: border-box;
	width: 75%;
	
	padding: 2em 3em;
}

main.full-width-main {
	width: initial;
}

@media only screen and (max-width: 650px) {
	main {
		width: initial;
	}
}



/* Links */
a {
	text-decoration: none;
	color: var(--accent-color-2);
	transition: color 400ms ease-out;
}

/* a:visited {
  color: #0071aa;
} */

a:hover, a:focus, a:active {
	color: var(--main-text-color);
	transition: 200ms ease-out;
}

a:active {
	transition-duration: 0ms;
}



/* Lists */
.larger-list > li {
	margin: 1em 0;
}



/* Buttons */
button {
	color: var(--main-text-color);
	background-color: var(--lighter-background-color);

	font-size: 2em;
	padding: 0.25em;
	margin: 5px;

	border-radius: 0.25em;
	border: 0;

	transition: color, filter 400ms ease-out;
}

button:hover, button:active, button:active {
	filter: brightness(150%);

	transition-duration: 200ms;
}

button:active {
	filter: brightness(200%);
	transition-duration: 0ms;
}



/* Emphasized content */
b {
	color: var(--accent-color-1);
}



/* Footer */
footer {
	font-size: 1rem;

	margin: auto 0 0 0;
	padding: 0.5em 3em;
	box-sizing: border-box; /* Makes it not exceed page size */

	color: var(--dull-text-color);
	background-color: var(--lighter-background-color);

	z-index: 110;
}



/* Asides */
aside {
	color: var(--dull-text-color);
	font-size: 0.8em;
}


aside.disclaimer-aside {
	filter: brightness(50%);
	margin-top: 20%;
}


.asided-header {
	margin-bottom: 0;
}

.asided-header + aside {
	margin-bottom: 2em;
}



/* Loading elements */
.loading {
	font-style: italic;
}



/* Darkener */
.darkener {
	background-color: #000000;
	opacity: 0;

	position: fixed;
	width: 100vw;
	height: 100vh;

	transition-property: opacity;

	z-index: 125;
	pointer-events: none; /* Don't sink mouse events */
}



/* == Sidebar == */
#sidebar-insert ~ * {
	margin-left: var(--sidebar-ribbon-size);
}


/* Transitions for sidebar and sidebar-darkener */
#sidebar, #sidebar-darkener {
	transition: 500ms ease;
}
#sidebar:hover, #sidebar:hover + #sidebar-darkener {
	transition: 300ms ease;
}


/* Sidebar */
#sidebar {
	background-color: var(--main-background-color);
	border-right: var(--sidebar-ribbon-size) solid var(--accent-color-1);

	position: fixed;
	transform: translateX(-100%) translate(var(--sidebar-ribbon-size));
	height: 100%;
	z-index: 150;

	transition-property: transform;

	padding: 1em 2em 1em 1em;
}
#sidebar:hover {
	transform: translateX(0);
}
#sidebar:hover + #sidebar-darkener {
	opacity: 0.5;
}


/* Sidebar components */
.sidebar-ribbon-image {
	position: fixed;
	transform: translateX(var(--sidebar-ribbon-size)); /* Move the image into the ribbon */

	top: 0;
	right: 0;
	box-sizing: border-box;
	width: var(--sidebar-ribbon-size);
	padding: calc(var(--sidebar-ribbon-size) * 0.4); /* This is padding, so actual image size is 20% of ribbon */
	overflow: visible; /* Makes the inline SVG be not cut-off slightly (https://stackoverflow.com/a/46344280) */
}
#sidebar svg .main-text-colored {
	fill: var(--main-text-color);
}

#sidebar > h1 {
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

#sidebar ul {
	list-style-type: none;
	padding: 0 0 0 1em;
}

#sidebar li {
	font-size: 1.3rem;
	margin-bottom: 0.7rem;
}
#sidebar li a:hover {
	text-decoration: underline solid;
}


/* == Error Page == */
main.error-page-main {
	text-align: center;
	padding-top: 6em;
}

main.error-page-main h1,
main.error-page-main h2,
main.error-page-main h3,
main.error-page-main h4,
main.error-page-main h5,
main.error-page-main h6 {
	margin: 0.5em;
}

main.error-page-main .aside {
	color: var(--dull-text-color);
}

@media only screen and (max-width: 650px) {
	main.error-page-main .aside {
		font-size: 0.7em;
	}
}



/* == Hangman (and possibly other games?) == */
/* God, tuning this took so long (.-. ) */
#game-flex {
	display: flex;
	flex-direction: row;

	max-height: 40vh;
	max-width: 70vw;
	margin-left: 10vw;
}

#hangman-word {
	font-size: min(3em, 8vw); /* Limits size on slim devices*/
	letter-spacing: 0.075em;

	margin-bottom: 0.5em;
}

#game-flex, #hangman-word {
	font-family: var(--monospace-font);
	text-align: center;
}

#hangman-svg {
	max-height: inherit;
	max-width: 35vw;

	float: right;
	margin-right: 3em;
	margin-bottom: 1em;
}

#game-flex > div {
	flex: 1;

	max-height: inherit;
	max-width: inherit;
}

#game-flex button {
	/* font-size: 4.5vmin; */
	font-size: calc(2.25vh + 2vw);
}

#game-flex button.clicked-correct {
	background-color: #48ca48;
}

#game-flex button.clicked-incorrect {
	background-color: #ca4848;
}

/*
	On smaller screens:
	* Flex in a column (so remove height/width limitations)
	* Float hangman in center (so remove right marging)
	* Set explicit hangman max-height (so remove width limit) (since game-flex's limitation was removed)
*/
@media only screen and (max-aspect-ratio: 3/4) {
	#game-flex {
		flex-direction: column;
		margin-left: initial;
		
		max-height: initial;
		max-width: initial;
	}

	#hangman-svg {
		float: none;
		margin-right: 0;

		max-height: 25vh;
		max-width: initial;
	}
}