:root {
	--main-text-color: #d4d4d4;
	--dull-text-color: #8e908c;
	--main-background-color: #1e1e1e;
	--red-accent-color: #ff3232;
	--blue-accent-color: #00aaff;

	--sidebar-ribbon-size: 1.5rem;
}



/* Page */
html {
	scroll-behavior: smooth;
}



/* Main content */
body {
	font-family: "Consolas", sans-serif;
	font-size: 1.15em;

	background-color: var(--main-background-color);
	color: var(--main-text-color);

	/* These three keep the footer in place */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	padding: 2em 3em;

	box-sizing: border-box;
	width: 75%;
}

#sidebar-insert ~ * {
	margin-left: var(--sidebar-ribbon-size);
}



/* Links */
a {
	text-decoration: none;
	color: var(--blue-accent-color);
	transition: color 400ms ease-out;
}

/* a:visited {
  color: #0071aa;
} */

a:hover, a:focus, a:active {
	color: var(--main-text-color);
	transition: 200ms ease-out;
}

a:active {
	transition-duration: 0ms;
}



/* Lists */
.larger-list > li {
	margin: 1em 0;
}



/* Misc */
b {
	color: var(--red-accent-color);
}



/* Header asides */
.asided-header {
	margin-bottom: 0;
}

.asided-header + aside {
	color: var(--dull-text-color);
	font-size: 0.8em;
	margin-bottom: 2em;
}



/* Classes */
.darkener {
	background-color: #000000;
	opacity: 0;

	position: fixed;
	width: 100vw;
	height: 100vh;

	transition-property: opacity;

	z-index: 125;
	pointer-events: none; /* Don't sink mouse events */
}



/* == Sidebar == */
/* Transitions for sidebar and sidebar-darkener */
#sidebar, #sidebar-darkener {
	transition: 500ms ease;
}
#sidebar:hover, #sidebar:hover + #sidebar-darkener {
	transition: 300ms ease;
}


/* Sidebar */
#sidebar {
	background-color: var(--main-background-color);
	border-right: var(--sidebar-ribbon-size) solid var(--red-accent-color);

	position: fixed;
	transform: translateX(-100%) translate(var(--sidebar-ribbon-size));
	height: 100%;
	z-index: 150;

	transition-property: transform;

	padding: 1em 2em 1em 1em;
}
#sidebar:hover {
	transform: translateX(0);
}
#sidebar:hover + #sidebar-darkener {
	opacity: 0.5;
}


/* Sidebar components */
.sidebar-ribbon-image {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(var(--sidebar-ribbon-size));

	box-sizing: border-box;
	width: var(--sidebar-ribbon-size);
	padding: calc(var(--sidebar-ribbon-size) * 0.4); /* This is padding, so actual image size is 20% of ribbon */
}

#sidebar > h1 {
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

#sidebar ul {
	list-style-type: none;
	padding: 0 0 0 1em;
}

#sidebar li {
	font-size: 1.3rem;
	margin-bottom: 0.7rem;
}
#sidebar li a:hover {
	text-decoration: underline solid;
}



/* Footer */
footer {
	font-size: 1rem;

	margin: auto 0 0 0;
	padding: 0.5em 3em;
	box-sizing: border-box; /* Makes it not exceed page size */

	color: var(--dull-text-color);
	background-color: #252526;
}