@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
	/* Colors */
	--main-text-color: #d4d4d4;
	--dull-text-color: #8e8e8e;

	--main-bg-color: #1e1e1e;
	--deep-bg-color: var(--main-bg-color) /* #1a1a1a */;
	--alt-bg-color: #252525;

	--code-fg-color: #a5a5a5;
	--code-bg-color: #161616;

	--hr-color: #2d2d2d;

	--accent-color-1: #ff3232; /* Red for titles, highlights, sidebar, etc. */
	--accent-color-2: #00aaff; /* Blue for links, etc */

	/* Fonts */
	--main-font: "Lato", "Calibri", "Roboto", sans-serif;
	--monospace-font: "Inconsolata", "Consolas", monospace;

	/* Sizes */
	--sidebar-ribbon-size: 0.5rem;
	--game-end-bar-height: 35%;
	--search-bar-border-size: 2px;
}

/* 
	z-indexes:

	0   - 99 : Main content
	100 - 199: Front stuff like footer, sidebar, darkeners, overlays, etc


	Currently used indexes:

	50  - Game end bar

	125 - Sidebar darkener
	150 - Sidebar
	155 - Search bar
	156 - Search results
	185 - Cheated overlay
*/



/* == Page == */
html {
	scroll-behavior: smooth;
	scrollbar-color: var(--accent-color-1) var(--main-bg-color);
}



/* == Body and Main == */
body {
	font-family: var(--main-font);
	font-size: 1.25em;
	tab-size: 4;

	background-color: var(--deep-bg-color);
	color: var(--main-text-color);

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	box-sizing: border-box;
	min-height: inherit;
	width: initial;

	padding: 1em 3em 2em;

	background-color: var(--main-bg-color);
}

@media only screen and (min-width: 1000px) {
	main:not(.full-width-main) {
		width: 1000px;
		margin: 0 auto;
	}

	:where(#sidebar-insert, #sidebar) ~ main:not(.full-width-main) {
		max-width: calc(100% - var(--sidebar-ribbon-size) * 2);
	}
}

/* Adjustments for small screens such as mobiles */
@media only screen and (max-width: 1000px) {
	main {
		padding: 0em 1.2em 1.2em;
	}

	body {
		font-size: 1.05em;
	}
}


/* == Headings == */
.splashed-heading {
	margin-bottom: 0;
}

.splashed-heading + * {
	color: var(--dull-text-color);
	font-size: 0.8em;

	margin-top: 0;
	margin-bottom: 2rem;
}

@media only screen and (min-width: 1000px) {
	h1, h1.splashed-heading + * {
		margin-bottom: 2.5rem;
	}
}


/* == Paragraphs == */
:where(.long-p, .long-p-container p) {
	/* These values were taken from AO3 */
	line-height: 1.5;
	margin: 1.286em auto;
}


/* == Links == */
a {
	--link-color: var(--accent-color-2);

	color: var(--link-color);
	text-decoration: none;
	transition: color 400ms ease-out;
}

/* a:visited {
  color: #0071aa;
} */

a:is(:hover, :focus, :active) {
	color: var(--main-text-color);
	transition-duration: 200ms;
}

a:active {
	transition-duration: 0ms;
}

a.heading-link {
	color: inherit;
}

/* Taken from https://css-tricks.com/block-links-are-a-pain-and-maybe-just-a-bad-idea.
   This does prevent text selection (which requires JS to fix; see
   https://css-tricks.com/block-links-the-search-for-a-perfect-solution), but
   there are no other clickable things where this is used, and using an anchor
   like this makes browsers correctly display the destination link in the bottom
   left corner. In other words, good enough for me.

   Beware, this assumes the target is the ancestor of only one link.
*/
.entire-link-target {
	position: relative;
}

.entire-link-target a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* == Lists == */
.larger-list > li {
	margin: 1em 0;
}

.compact-list {
	margin: 0;
}


/* == Buttons (and highlighting) == */
button {
	color: var(--main-text-color);
	background-color: var(--alt-bg-color);

	font-size: 2em;
	padding: 0.25em;
	margin: 5px;

	border-radius: 0.25em;
	border: 0;
}

button {
	transition: 400ms ease-out;	
	transition-property: background-color, filter; /* Specify this separately so the other properties apply properly */
}

button:is(:hover, :focus) {
	filter: brightness(150%);
	transition-duration: 200ms;
}

button:active {
	filter: brightness(200%);
	transition-duration: 0ms;
}


/* == Code == */
code {
	font-family: var(--monospace-font);
	white-space: pre-wrap;

	color: var(--code-fg-color);
	background-color: var(--code-bg-color);
	
	border-radius: 3px;
	padding: 0.05em 0.2em;
}

pre code {
	display: block;
	padding: 0.5em;
	background-color: revert;
	white-space: inherit;
}

pre.has-code /* pre:has(code) */ {
	background-color: var(--code-bg-color);
	border-radius: 4px;
	overflow-x: auto;
}


/* == Images == */
.svg-main-text-colored {
	fill: var(--main-text-color);
}

.svg-main-bg-colored {
	fill: var(--main-bg-color);
}

.character-like-image {
	height: 1em;
	vertical-align: sub;
	margin: 0 0.1em
}

img {
	max-width: 100%; /* Never overflow horizontally */
	height: auto; /* Maintain aspect ratio */
}

/* Following three rules were taken from https://gist.github.com/MoritzBuetzer/4c89d9da1e15745cf2b0 */
figure {
	display: table;
}

figure img {
	display: block;
}

figure figcaption {
	display: table-caption;
	caption-side: bottom;

	text-align: center;
	font-size: 0.85rem;
	color: var(--dull-text-color);
	margin-top: 0.2rem;
}


/* == Details == */
details > summary ~ * {
	margin-left: 1.5ch;
}

details[open] + details {
	margin-top: 0.7em;
}


/* == Other Elements == */
hr {
	height: 3px;
	background-color: var(--hr-color);
	border-style: none; /* Usually defaults to inset border */
}

b {
	color: var(--accent-color-1);
}

div.spacer {
	height: 40px;
}



/* == Disclaimer == */
.bottom-disclaimer {
	color: var(--dull-text-color);
	font-size: 0.8em;
	margin-top: 25%;
}


/* == Highlight on Hover == */
.highlight-on-hover {
	transition: filter 400ms ease-out;
}

.highlight-on-hover:is(:hover, :focus) {
	filter: brightness(120%);
	transition-duration: 200ms;
}

.highlight-on-hover:active {
	filter: brightness(150%);
	transition-duration: 0ms;
}


/* == Darkener == */
.darkener {
	background-color: #000000;
	opacity: 0;

	transition-property: opacity;

	z-index: 125;
	pointer-events: none; /* Don't sink mouse events */
}


/* == General Styles == */
.less-visible {
	filter: brightness(50%);
}

.no-wrap {
	white-space: nowrap;
}

.monospace-override {
	font-family: var(--monospace-font);
}

.centering {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.horizontal-centered {
	margin-left: auto;
	margin-right: auto;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.fullscreen {
	position: fixed;
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.loading {
	font-style: italic;
}



/* == Search Bar == */
.search-results-container, .search-bar {
	width: 180px; /* As much as I hate concrete values this is the only way it works */
	position: relative;
}

.search-results-container > *, .search-bar {
	box-sizing: border-box; /* Fixes weird sizes */

	background-color: var(--main-bg-color);
	color: var(--main-text-color);

	border-color: var(--accent-color-1);
	border-width: var(--search-bar-border-size);
	margin: calc(-1 * var(--search-bar-border-size)) 0;
}

.search-bar {
	z-index: 156; /* Higher than the results container */
}

.search-bar::placeholder {
	font-style: italic;
}

.search-bar:focus-visible {
	outline: none;
	border-color: var(--accent-color-2);
}

.search-results-container {
	height: 0; /* Don't take up space */
	z-index: 155; /* Lower than the search bar */
}

.search-result {
	width: inherit; /* Must explicitly inherit width (using 100% doesn't work) */
	padding: 0.2em;
	border-style: solid;
	cursor: pointer;
}

.search-result-title {
	font-size: 1em;
	font-weight: 900;
	color: var(--accent-color-1) !important; /* Override the link color */

	margin: 0 0 0.2em;
	padding: 0;
}

.search-result:is(:hover, :focus, :active) .search-result-title {
	text-decoration: underline;
}

.search-result-desc {
	margin: 0;
	padding: 0;

	font-size: 0.5em;

	color: var(--dull-text-color);
}



/* == Story Pages == */
#story-body-container {
	position: relative;
}

#warning-overlay {
	position: absolute;
	box-sizing: border-box; /* Fixes bad sizing */
	width: 100%;
	height: 100%;

	padding: 2em 1em;
	text-align: center;
	overflow: auto;

	background-color: var(--alt-bg-color);
	opacity: 100%;
}

body:not([data-warning-accept-pending]) #warning-overlay {
	opacity: 0%;
	transition: opacity 300ms;

	pointer-events: none; /* Don't sink mouse events */
}

#warning-overlay-text {
	color: var(--dull-text-color);
	margin-bottom: 2em;
}

#warning-overlay-button {
	background-color: var(--accent-color-1);
	font-size: 1em;
}

#story-body-container {
	margin-bottom: 2rem;
}

.authors-note {
	margin-bottom: 2.5rem;
}

.authors-note * {
	font-size: 0.9em;
}

.authors-note-title {
	font-style: italic;
	margin: 0;
}

.authors-note-title ~ * {
	margin: 0;
}

@media only screen and (max-width: 1000px) {
	.authors-note {
		margin-bottom: 2.25rem;
	}
}



/* == Story Index Page == */
#story-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(max(20vw, 12.5em), 1fr)); /* Tweak me later */
	gap: 1ch;

	margin: 2em 0;
}

.story-list-item {
	padding: 0.5em;
	background-color: var(--alt-bg-color);
}

.story-list-item-title {
	font-size: inherit;
	margin: inherit;
}

.story-list-item-desc {
	margin-top: 0.4ex;
	font-size: 0.7em;
	color: var(--dull-text-color);
}



/* == Sidebar == */
:where(#sidebar, #sidebar-insert) ~ * {
	margin-left: var(--sidebar-ribbon-size);
}


/* Sidebar */
#sidebar, #sidebar-insert {
	background-color: var(--main-bg-color);
	border-right: var(--sidebar-ribbon-size) solid var(--accent-color-1);

	position: fixed;
	box-sizing: border-box;
	transform: translateX(-100%) translateX(var(--sidebar-ribbon-size));
	height: 100%;
	max-width: 85vw; /* Make sure the sidebar doesn't take up the whole screen on slim devices */
	z-index: 150;

	transition-property: transform;

	padding: 0;
}

/* Transitions for sidebar and sidebar-darkener */
#sidebar, #sidebar-darkener {
	/* Specify these two separately as to not overwrite individually-defined transition-property's */
	transition-duration: 500ms;
	transition-timing-function: ease;
}

#sidebar:is(:hover, .swipe-focus) {
	transform: translateX(0);
}

#sidebar:is(:hover, .swipe-focus) + #sidebar-darkener {
	opacity: 0.5;
}

#sidebar:is(:hover, .swipe-focus), #sidebar:is(:hover, .swipe-focus) + #sidebar-darkener {
	transition-duration: 300ms;
}


/* Sidebar components */
#sidebar-main-content {
	height: inherit;
	padding: 1em 2em;
	box-sizing: border-box; /* Fixes incorrect margins */

	overflow-y: auto;
}

#sidebar-ribbon-image {
	--image-width: 18px;

	position: fixed;
	box-sizing: border-box;
	top: 5px; /* Top padding */
	right: calc(-5px - var(--sidebar-ribbon-size) - var(--image-width));
	width: var(--image-width);
	
	fill: var(--accent-color-1);
	overflow: visible; /* Makes the inline SVG be not cut-off slightly (https://stackoverflow.com/a/46344280) */
}

.sidebar-title {
	font-size: 2em;
	margin: 0 0 0.5em; /* Bottom */
	text-align: left;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0;
}

#sidebar ul ul { /* Any nested uls should have left padding */
	padding-left: 1em;
}

#sidebar li {
	font-size: 1.3rem;
	margin-bottom: 0.7rem;
}

#sidebar li a:hover {
	text-decoration: underline solid;
}



/* == Cheated Overlay == */
#cheating-overlay {
	z-index: 185;

	background-color: var(--main-bg-color);
	color: var(--dull-text-color);

	text-align: center;
	padding: 1em;
	font-size: min(2vh + 2vw, 1.3em);
	font-weight: 900;

	pointer-events: none;

	opacity: 0%;
	transition: opacity 700ms;
}

#cheating-overlay[data-devtools-open="true"] {
	opacity: 97%;
	pointer-events: revert;
}


/* == Home Page */
#dots-canvas {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--main-bg-color);
}

#dots-canvas ~ * {
	position: relative;
}

#main-page-title {
	font-size: inherit;
	margin-top: 2rem;
	margin-bottom: 25vh;
}

#main-page-giant-text {
	font-size: clamp(1em, 8.5vw, 4em);
}

#main-page-links-list {
	padding: 0;
	list-style: none;
}

#main-page-links-list > li {
	display: inline;
}

#main-page-links-list > li + li::before { /* https://stackoverflow.com/a/16133869 */
	content: "|";
	margin: 0 0.75em;
}

@media only screen and (max-width: 500px) {
	#main-page-links-list > li {
		display: block;
	}

	#main-page-links-list > li + li::before {
		content: "―";
		display: block;
		margin: revert;
	}
}

@media only screen and (max-height: 300px) {
	#main-page-title {
		margin-bottom: 10vh;
	}
}


/* == Error Page == */
.error-page-main * {
	margin-top: 0;
	margin-bottom: 0.6rem;
}

.error-page-main h1 {
	font-size: clamp(3em, 10vw, 4.5em);
	color: var(--accent-color-1);
}

.error-page-remark {
	font-size: clamp(1em, 3vw, 1.25em);
}

.error-page-remark + .error-page-remark {
	font-size: 0.8em;
}

.error-page-spacer {
	height: 20vh;
}



/* == Under Contruction page == */
#construction-main h1 {
	font-size: min(8vw, 4em); /* Prevent huge size on wide screens */
}

#construction-main h1 img {
	margin: 0ex 1ch;
}

@media only screen and (max-width: 1000px) {
	#construction-main h1 {
		font-size: 10vw; /* Use a slightly larger font */
	}

	#construction-main h1 img {
		display: block; /* Display images on separate lines */
		margin: 0.5em auto; /* Center images in their lines */
	}
}



/* == Hangman (and possibly other games?) == */
/* God, tuning this took so long (.-. ) */

/* Main Elements */
#hangman-game-flex {
	display: flex;
	flex-direction: row;

	max-height: 40vh;
	max-width: 70vw;
	margin-left: 10vw;
}

#hangman-word {
	font-size: min(3em, 8vw); /* Limits size on slim devices*/
	letter-spacing: 0.075em;

	margin: 1em 0em 0.5em;
}

#hangman-word > .not-guessed-letter {
	color: #E53D3D;
}

#hangman-game-flex, #hangman-word {
	font-family: var(--monospace-font);
	text-align: center;
}

#hangman-svg {
	max-height: inherit;
	max-width: 35vw;

	float: right;
	margin: 0 3em 0 0;
}

#hangman-svg-parts > * {
	opacity: 0;
	transition: opacity 150ms linear;
}

#hangman-svg-parts > .visible-hangman-part {
	opacity: 1;
	transition-duration: 250ms;
}


/* Game end bar */
#game-end-bar {
	position: fixed;
	box-sizing: border-box;
	height: 0;
	top: 50%;
	left: 0;
	width: 100%;
	padding-left: var(--sidebar-ribbon-size);
	overflow: hidden;

	background-color: var(--main-bg-color);
	border-style: solid;
	border-width: 0 0;
	opacity: 98%;

	transition: 400ms cubic-bezier(0.64, 0, 0.78, 0); /* https://easings.net/#easeInQuint */
	transition-property: height, top, border-width; /* Specify this separately so the other properties apply properly */

	display: flex;
	flex-direction: column;
	text-align: center;

	z-index: 50;
}

#game-end-bar > * {
	margin: auto;
}

#game-end-bar-heading {
	font-size: 2em;
}

#game-end-bar-next-button {
	font-size: 1.5em;
}

#game-end-bar[data-is-playing="false"] {
	top: calc((100% - var(--game-end-bar-height)) / 2); /* Center the bar in the middle */
	height: var(--game-end-bar-height);
	border-width: 12px 0;
}

/* I give you permission to kill me for these god-awful colors */
#game-end-bar[data-end-state="won"] {
	border-color: #23c41e;
}

#game-end-bar[data-end-state="lost"] {
	border-color: #d20a0a;
}


/* Buttons and other stuff */
#hangman-button-container {
	flex: 1;

	max-height: inherit;
	max-width: inherit;
}

#hangman-button-container button {
	font-size: calc(2.25vh + 2vw);
	font-weight: 900;
}

#hangman-button-container button.clicked-correct {
	background-color: #48ca48;
}

#hangman-button-container button.clicked-incorrect {
	background-color: #ca4848;
}


/*
	Media adjustments

	On smaller screens:
	* Flex in a column (so remove height/width limitations)
	* Float hangman in center (so remove right marging)
	* Set explicit hangman max-height (so remove width limit) (since hangman-game-flex's limitation was removed)
*/
@media only screen and (max-aspect-ratio: 3 / 4) {
	#hangman-game-flex {
		flex-direction: column;
		margin-left: initial;
		
		max-height: initial;
		max-width: initial;
	}

	#hangman-svg {
		float: none;

		margin: 0 0 1em 0;

		max-height: 25vh;
		max-width: initial;
	}
}



/* == Fragments Page == */
#fragments-canvas {
	position: relative;
	height: 85vh; /* Will likely cause overflow; that's ok. We want the canvas to be big enough anyways. */
	margin: 0;
	padding: 0;

	overflow: hidden;
}

#fragments-canvas > * {
	position: absolute;
	max-width: 50vw;
	padding: 4em 4ch;

	opacity: 0%;
	transition: opacity 500ms;

	pointer-events: none; /* Don't sink mouse input when inactive */

	/* We don't want hidden fragments to be selectable */
	/* (https://stackoverflow.com/a/4407335) */
    -webkit-user-select: none; /* Prefix mainly for Safari */
            user-select: none;
}

#fragments-canvas > #dummy-fragment {
	width: 35vw;
	height: 1em;
}

#fragments-canvas > [data-active] {
	pointer-events: revert;
}

#fragments-canvas > [data-active]:hover {
	opacity: revert;
}

@media only screen and (max-width: 1000px) {
	#fragments-canvas > :not(#dummy-fragment) {
		padding: 0;
	}
}


/* == Switching to Linux Page == */
.linux-issues-list {
	list-style-type: '→ ';
	color: var(--dull-text-color);
}

.linux-issue {
	margin: 2.5em 0;
}

.linux-issue.solved {
	filter: brightness(60%);
}

.linux-issue-title, .linux-issue::marker {
	font-weight: 900;
	font-style: italic;
	text-decoration: underline;
}

.linux-issue-desc {
	line-height: revert;
	margin: 0 0 1ex 0;
}

.linux-issue-solutions-list {
	list-style-type: disc;
	padding-left: 2em;
}

.linux-issue-solutions-list > li {
	margin: 0.5ex 0;
}

@media only screen and (max-width: 1000px) {
	.linux-issues-list {
		padding-left: 1em;
	}

	.linux-issue-solutions-list {
		padding-left: 1.5em;
	}
}

@media only screen and (max-width: 400px) {
	.linux-issue-solutions-list {
		list-style-position: inside;
		padding-left: 0.5em;
	}
}